
body {
    background-color:#77FAD0;
}
h1{
    text-align:center;
}
 #a {
     border: 1px dashed;
}

ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;

}
li{
    float:left;
}
a:link{
    display:block;
    padding:10px;
    font-size:large;
    background-color:#262993;
    color:#FFFFFF;
    text-align: center;
    text-decoration:none;
    text-transform:uppercase;
    border-radius: 30px;

}
a:visited{
    background-color:#FFFF00;
}
a:hover,a:active{
    background-color:#FF00FF;
}

.pictures {
    height: 200px;
}

footer{
    text-align:center;
}